        body {
            background: rgb(171, 168, 149);
            font-family: 'Rubik', sans-serif;
            margin:0;
            padding:0;
        }
        
        /*TITULO*/

        #titulo-principal {
            display:flex;
            justify-content:center;
            margin-top:1em;
        }

        .titulo-principal-elemento:first-child {
            margin-right:7px;
            max-width:276px;
        }

        .titulo-principal-elemento:nth-child(2) {
            max-width:136px;
        }
        
        .titulo-principal-elemento:nth-child(3) {
            max-width:750px;
        }

        /*titulo*/


        /*FORMULARIO*/

        #formulario-viaje {
            display: flex;
            flex-direction: column;
            align-items:center;
            margin-top:2em;
            font-size:1.5em;
        }

        #getDataButton {
            cursor: pointer;
        }

        .formulario-destino, .formulario-fecha {
            display: flex;
            flex-direction: column;
            margin-bottom: 1.5em;
        }

        #formulario-viaje label {
            text-align: center;
        }

        .input-formulario, #getDataButton {
            padding: 0.25em;
            margin: 0.75em 2em;
            font-size: 1em;
        }

        #getDataButton {
            margin-top:1em;
            text-transform:uppercase;
            font-weight: bold;
        }

        /*formulario*/

        /*DATOS VIAJE*/

        #datos-viaje {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 1em;
        }

        #ciudad-viaje {
            font-size: 2.5em;
            font-weight: bold;
            text-align: center;
        }

        #pais-viaje {
            font-size: 2em;
            text-align:center;
        }
       
        #imagen-ciudad {
            border: 10px solid white;
            margin: 2em;
        }

        #imagen-clima {
            background: white;
            border-radius: 50%;
            margin: .5em;
            box-shadow:1px 1px black;
        }

        /*datos viaje*/


        /*FOOTER*/
        footer {
            background-color:black;
            text-align:center;
            color:white;
            padding-top: 1em;
            padding-bottom: 1em;
            margin-top:3em;
            border-top:1px solid lightgray;
        }

        .footer-text {
            margin:0 auto;
            font-weight:100;
        }

        #sasek-sign {
            width:100px;
        }
        /*footer*/

        @media(max-width:1200px) {
            #titulo-principal {
                display:flex;
                flex-direction:column;
                align-items:center;
            }
        }

        @media(max-width:768px) {

            .titulo-principal-elemento:first-child {
                margin-right:7px;
                max-width:138px;
            }
    
            .titulo-principal-elemento:nth-child(2) {
                max-width:68px;
            }
            
            .titulo-principal-elemento:nth-child(3) {
                max-width:375px;
            }

            #imagen-ciudad {
                max-width:500px;
            }

            footer {
                font-size: .75em;
            }

            #sasek-sign {
                width:75px;
            }
        }
